[Desktop Entry]
Name=SpectraRead
Exec=/bin/bash -c "/usr/lib/luisvmf.com-spectraread/SpectraRead.sh"
MimeType=application/spectrareadluisvmfcom
Icon=application-spectrareadluisvmfcomapp
Terminal=false
Type=Application
Comment=Measure Spectra
Categories=Utility;Education;
