Package: luisvmf.com-spectraread
Version: 1.6.1
Maintainer: luisvmf <luis@luisvmf.com>
Depends: libc6, luisvmf.com-runtimelibs
Architecture: amd64
Homepage: https://luisvmf.com
Description: Spectraread
